{% extends "main/overlay.html" %} {% block content %}

<section id="overview" class="shine-box">
    <div class="shine-effect"></div>
    <h1>Overview</h1>
    <p>I am an student and show my projects and myself on this website</p>
</section>

<section id="projects" class="shine-box">
    <div class="shine-effect"></div>
    <h1>Projects</h1>
    <p>This website</p>
    <p>Youtube Downloader</p>
    <p>Not public online shop</p>
    <p>Games (not public)</p>
</section>

<section id="me" class="shine-box">
    <div class="shine-effect"></div>
    <h1>Me</h1>
    <div>
        <h3>Tech Stack ⚙️</h3>
        <table>
            <p>Python 🐍 (Flask)</p>
            <p>Java ☕</p>
            <p>Docker 🐋</p>
            <p>Html 📦</p>
            <p>CSS ✏️</p>
            <p>Javascript ☕</p>
            <p>C/C++ ➕</p>
            <p>Smalltalk 🎈</p>
        </table>
    </div>
    
    
</section>

<section id="links" class="shine-box">
    <div class="shine-effect"></div>
    <h1>Weblinks</h1>
    <a class="nav-link" href="mailto:contact@felix-bernard.de">contact@felix-bernard.de</a>
    <a class="nav-link" href="https://github.com/FelixBernard">My Github</a>
</section>

{% endblock %}