<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#101828">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-navbutton-color" content="#F1ECFE">
    <title>BiggerView</title>
    <link rel="icon" href="{{ url_for('static', filename='img/main.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/main/popup.js') }}" defer></script>
</head>
<body>
    <div class="popups" id="popup">
        <div class="cookies" id="cookie">
            <p>Da auf dieser Seite nur technisch notwendige Cookies genutzt werden, die für die einwandfreie Nutzung der Website erforderlich sind, gibt es keine Optionen für die Cookie erfassung. Es werden keine Cookies oder Daten an dritte weiter geben. Nur ein Teil von den technische Daten werden vom Serverbetreiber anonym für die übermittlung der Website gebraucht. Bei Fragen an contact@felix-bernard.de wenden</p>
            <button class="button" id="cookie_agree" onclick="desappir_popup()">Zur Kenntnis genommen</button>
        </div>
        <div class="afterlock">Entscheidung zu weitern Angaben von Daten</div>
    </div>

    <div id="overnavbar">
        <div id="navbar">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/projects">Projects</a>
            <a class="nav-link" href="/profile">Profile</a>
        </div>
    </div>

    <div id="main">
    {% block content %} {% endblock %}
    </div>

</body>
</html>