:root {
    --main-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color: #f5f5f5;
    --text-color: #333;
    --font-family: 'Arial', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #101828;
    /* color: var(--text-color); */
    font-family: var(--font-family);
}

#overnavbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: rgba(78, 78, 78, 0.479); */
    z-index: 1000;
}

#placeholder-overnavbar {
    width: 100%;
    background-color: transparent;
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar {
    display: flex;
    gap: 20px;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    backdrop-filter: blur(5px);
    margin: 1rem;
    border-radius: 1rem;
    background-color: #4164a836;
}

#placeholder-navbar {
    background-color: transparent;
    color: transparent;
    display: flex;
    gap: 20px;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 1rem;
}

.nav-link {
    text-decoration: none;
    color: white;
    border-color: transparent;
    border-bottom-style: solid;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: bold;
    transition: 0.5s ease;
    margin: 1rem;
}

.nav-link:hover {
    border-bottom-width: 2px;
    border-color: rgb(143, 116, 255);
}

.placeholder-nav-link {
    background-color: transparent;
    text-decoration: none;
    color: transparent;
    font-family: var(--font-family);
    font-size: 16px;
    transition: color 0.3s ease;
    margin: 1rem;
}

.main-offset {
    /* margin-top: 50px;
    min-height: calc(100vh - 50px); */
    padding: 0;
}

.main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box {
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    background-color: #283d67;
    border-style: solid;
    border-width: 1px 0px 0px 1px;
    border-color: rgba(255, 255, 255, 0.2);
}

.button-wrapper {
    margin: 0.5rem;
}

.button {
    width: fit-content;
    background-color: #155dfc;
    border-radius: 0.8rem;
    cursor: pointer;
    border-style: none;
    padding: 0.8rem;
    color: white;
    transition: 0.5s;
}

.button:hover {
    background-color: #155dfc;
    filter: brightness(1.4);
}

#diary-table {
    border-collapse: collapse;
    width: fit-content;
    table-layout: auto;
}

.table-input {
    color: white;
    background-color: transparent;
    border-color: transparent;
    border-radius: 0.5rem;
}

td, th {
    color: white;
    border-right: 1px solid rgba(164, 164, 164, 0.422);
    padding: 8px;
}

tr td:last-child {
    border-right: none;
}

tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

