
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/nimda_overlay.css') }}">

<div class="admin_navbar">
    <a class="a_for_button" href="/log">
        <button class="button">Log Table</button>
    </a>
    <a class="a_for_button" href="/ip">
        <button class="button">ip Table</button>
    </a>
    <a class="a_for_button" href="/login">
        <button class="button">Login Page</button>
    </a>
    <a class="a_for_button" href="/admin">
        <button class="button">Admin Page</button>
    </a>
    
</div>

{% endblock %}