{% extends "main/overlay.html" %}
{% block content%}

<link rel="stylesheet" href="{{ url_for('static', filename='css/ip.css') }}">

{% if user and user.rank == 'admin' %}
{% include "nimda/nimda_overlay.html" %}
{% endif %}

{% if user and user.rank == 'admin' %}
<div class="admin_main">
{% endif %}

<div class="wrapper">
    <div class="block">
    
        {% if access_route_zero %}
        <p>Request [0]: {{access_route_zero}}</p>
        {% endif %}

        {% if access_route %}
        <p>Request: {{access_route}}</p>
        {% endif %}

        {% if remote_addr %}
        <p>Remote Address: {{remote_addr}}</p>
        {% endif %}

    </div>

    <div class="block">
        <div class="debug-card">
            <div class="debug-header">
                🌐 Server Request Header (Debug)
            </div>
            <table class="debug-table">
                {% for key, value in request.headers.items() | sort %}
                <tr>
                    <td class="label">{{ key }}</td>
                    <td class="value">{{ value }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    
    <div class="block">
    {% if request.headers.get('X-Forwarded-For') %}
    <p>Cloudflare IP: {{ request.headers.get('Cf-Connecting-Ip') }}</p>
    {% endif %}
    </div>
</div>

{% if user and user.rank == 'admin' %}
</div>
{% endif %}

{% endblock %}