{% extends "main/overlay.html" %}{% block content
%}

<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"> -->
<script src="{{ url_for('static', filename='js/auth/login.js') }}" defer></script>

{% if user and user.rank == 'admin' %}
{% include "nimda/nimda_overlay.html" %}
{% endif %}

{% if user and user.rank == 'admin' %}
<div class="admin_main">
{% endif %}

<div>
    <form id="singup-form" action="http://127.0.0.1:8080/api/login" method="post">
    <input type="email" class="name" id="textbox_e-mail" placeholder="E-mail" autocomplete="off" name="email">
    <input type="password" class="password_class" id="password" placeholder="Passwort" autocomplete="off" name="password">
    <div class="button" id="submit-button">Senden</div>
    </form>
</div>

{% if user and user.rank == 'admin' %}
</div>
{% endif %}


{% endblock %}